.jumbotron {
  position: relative;
  top: 50%;
  transform: translateY(10%);
}

footer,hr {
  position: relative;
}

hr {
  margin-top: 20%;
}


footer {  
  margin-top: 2%;
}

#palabraInventada {
  text-align: center;
  margin: 2em;
}